<!DOCTYPE html>
<html lang="ru">
<head>

<meta charset="UTF-8">
<title>About</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<section class="hero">

<div class="hero-content">

<h1>Как всё началось ❤️</h1>

<p>
Вот наша история. Мы впервые увиделись в школе, когда я перевёлся в 7 класс, а она училась в 10. Тогда я просто видел её со стороны, не думая, что как-то буду связан с ней дальше.

Потом мы постепенно оказались в одной компании - через её одноклассников и общих знакомых. Так всё и закрутилось, незаметно и само собой.

Я, конечно, вёл себя глупо - подсмеивался над ней, мог поставить подножку, просто чтобы привлечь внимание. И, как оказалось, именно так она впервые мне и написала.

На самом деле она мне очень нравилась. Настолько, что казалась чем-то недоступным, будто она не моего уровня. Поэтому я даже боялся просто предложить нормально пообщаться или начать разговор.
</p>

<div class="gallery">

<img src="{{ url_for('static', filename='images/history1.jpg') }}" class="photo">

<img src="{{ url_for('static', filename='images/history2.jpg') }}" class="photo">


<br><br>

<a href="/home" class="card">
Назад
</a>

</div>

</section>

</body>
</html>