<!DOCTYPE html>
<html lang="ru">
<head>

<meta charset="UTF-8">
<title>Forum</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<section class="hero">

<div class="hero-content">

<h1>Что я люблю в тебе ❤️</h1>

<p>
Я люблю в тебе гораздо больше, чем могу описать словами. Твою улыбку, которая делает даже обычный день теплее. Твой голос, в котором есть спокойствие и уют. Твою искренность и то, как ты остаёшься собой в любой ситуации.

Я люблю, как ты умеешь быть сильной и нежной одновременно. Как ты смеёшься, как смотришь, как просто существуешь - и уже этим делаешь мой мир лучше.

И, наверное, самое главное - я люблю тебя целиком, со всеми твоими привычками, эмоциями и особенностями, потому что именно ты делаешь всё это настоящим
</p>



<br><br>

<a href="/home" class="card">
Назад
</a>

</div>

</section>

</body>
</html>