<!DOCTYPE html>
<html lang="ru">
<head>

<meta charset="UTF-8">
<title>Для любимой Ариши ❤️</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<section class="hero">

<div class="hero-content">

<h1>Для любимой Ариши ❤️</h1>

<p>
Этот простой сайт я сделал специально для тебя ❤️
</p>

<div class="sections">

<a href="/about" class="card">
    <h2>✨ Начало</h2>
</a>

<a href="/index2" class="card">
    <h2>📸 Моменты</h2>
</a>

<a href="/forum" class="card">
    <h2>💌 Ари</h2>
</a>

<a href="/privet" class="card">
    <h2>🌙 Future</h2>
</a>

</div>

</div>

</section>

</body>
</html>
<div class="counter">
    Мы вместе уже <span>{{ days }}</span> дней ❤️
</div>
<div class="counter">
    Мы вместе уже <span>{{ days }}</span> дней ❤️
</div>